@page "/search/result/{key}"

@using DoAn1.Data
@using DoAn1.Service
@inject ProductService ProductIService
@layout MainLayout0

 <div>

<!-- subHeader -->
        <div id="sub-header">
            <div class="grid wide">
                <div class="row subheader__list">
                    <a href=""><img src="./assets/imgs/svg/home-red.svg" alt="" />Trang chủ</a>
                    <span>Kết quả tìm kiếm cho '@key'</span>
                </div>
            </div>
        </div>
<!--Block result-->
            <div class="grid wide" style="margin-top: 96px">
                <div class="row">
                    <div class="block-result c-12 mt-16">
              
                        <div class="block-result__header">
                            <h1>
                                "Tìm thấy "
                                <strong>@smartphone.Count()</strong>
                                " sản phẩm cho từ khóa"
                                <strong>'@key'</strong>
                            </h1>
                        </div>
                
                        <div class="block-result__content">
                            <div class="nav-tabs">
                                <div class="list-nav-tabs">         
                                    <BSButton Color="BSColor.Light">Tất cả</BSButton>
                                    <BSButton Color="BSColor.Light">Điện thoại</BSButton>
                                    <BSButton Color="BSColor.Light">Máy tính bảng</BSButton>
                                </div>
                            </div>

                            <div class="block-filter">
                                <div class="filter__block-list-sort">
                                    <div class="box-title">
                                        <p class="box-title__title">Sắp xếp theo</p>
                                    </div>
                            
                                    <div class="box-list-filter">
                                        <div class="list-filter">
                                            <BSButton Color="BSColor.Light" OnClick="@DecSmartphone">Giá cao</BSButton>
                                            <BSButton Color="BSColor.Light" OnClick="@IncSmartphone">Giá thấp</BSButton>                              
                                        </div>
                                    </div>                            
                                </div>
                            </div>

                            <div class="block-product">
                                @foreach (var device in smartphone)
                                {
                                    <div class="product_info-container c-2">
                                        <div class="product_info">
                                            <a href="/@device.key" class="product_link">
                                                <div class="item-product_image">
                                                    <a href="/@device.key">
                                                        <img src="@device.device_image">
                                                    </a>
                                                </div>
                                                <div class="item-product_name"></div>
                                                    <a href="/@device.key">
                                                        <p>@device.device_name</p>
                                                    </a>
                                                <div class="item-product_price">
                                                    <p>@device.default_price</p>
                                                </div>                                    
                                            </a>
                                        </div>
                                    </div>
                                }
                            </div>

                            </div>

                        </div>
            
            
                    </div>
            </div>
 </div>
            
            
              
    





@code {
    [Parameter]
    public string key { get; set; }

    List<Smartphone> smartphone = new List<Smartphone>();



    protected override async Task OnInitializedAsync()
    {
        GetSmartphone();
    }

    private void GetSmartphone()
    {
        smartphone = ProductIService.GetSmartphonesFilter(key);
    }


    private void IncSmartphone()
    {
        smartphone = smartphone.OrderBy(device => device.default_price).ToList();

    }

    private void DecSmartphone()
    {
        smartphone = smartphone.OrderByDescending(device => device.default_price).ToList();
    }


}
