@page "/{device_key}"
@using DoAn1.Data
@using DoAn1.Service
@inject ProductService ProductIService
@layout MainLayout0

@foreach(var device in smartphone){
<!-- subHeader -->
        <div id="subheader">
            <div class="grid wide">
                <div class="row subheader__list">
                    <a href=""><img src="./assets/imgs/svg/home-red.svg" alt="" />Trang chủ</a>
                    <a href="">Điện thoại</a>
                    <a href="">Apple</a>
                    <a href="">iPhone 13 Series</a>
                    <a href="">iPhone 13 Pro Max 128GB</a>
                </div>
            </div>
        </div>
        <!-- ProductName -->
        <div id="productName">
            <div class="grid wide">
                <div class="row">
                    <h4>@device.device_name</h4>
                </div>
            </div>
        </div>

        <!-- Content -->
        <div id="content">
            <div class="grid wide">
                <div class="row">
                    <!-- section1 -->
                    <div class="col c-4 section1">
                        <div class="section1__img">
                            <div
                                class="section1__img---image"
                                style="
                                    background-image: url('@device.pictures.ElementAt(0)');
                                "
                            ></div>
                        </div>
                        
                        <div class="row section1__list">
                            @foreach(var picture in @device.pictures.Take(5)){
                                <div
                                class="col c-2 section1__list--item"
                                style="
                                    background-image: url('@picture');
                                "
                            ></div>
                            }
                        </div>
                        
                        
                        <div class="section1__infoProduct">
                            <h4>Thông tin sản phẩm</h4>
                            <p>
                                <img src="./assets/imgs/svg/smartphone.svg" alt="" />Máy mới 100%,
                                chính hãng
                            </p>
                            <p>
                                <img src="./assets/imgs/svg/shield.svg" alt="" />1 ĐỔI 1 trong 30
                                ngày nếu có lỗi phần cứng nhà sản xuất. Bảo hành 12 tháng tại trung
                                tâm bảo hành chính hãng
                            </p>
                        </div>
                    </div>
                    <!-- section2 -->
                    <div class="col c-4 section2">
                        <div class="section2_Price">
                            <p>Tra gop 0%</p>
                            <h3>29.390.000</h3>
                        </div>
                        <!-- Chon bo nho -->
                        <h5>Chọn dung lượng</h5>
                        <div class="row section2_Select">
                            <BSButton Color="BSColor.Danger" IsOutlined ="true">
                                <p value="512">512<span>GB</span></p>
                            </BSButton>
                            <BSButton Color="BSColor.Danger" IsOutlined ="true">
                                <p>256GB</p>
                            </BSButton>
                            <BSButton Color="BSColor.Danger" IsOutlined="true" >
                                <p>128GB</p>
                            </BSButton>
                        </div>
                        <!-- Chon mau -->
                        <h5>Chọn màu</h5>
                        <div class="row section2_Select">
                            <div class="col section2_selectBox2 active">
                                <div
                                    class="selectColor"
                                    style="
                                        background-image: url('./assets/imgs/iphone13promax/iphone-13-pro-trang.jpg');
                                    "
                                ></div>
                                <span>Bạc</span>
                            </div>
                            <div class="col section2_selectBox2">
                                <div
                                    class="selectColor"
                                    style="
                                        background-image: url('./assets/imgs/iphone13promax/iphone-13-pro-max-gold-1-600x600.jpg');
                                    "
                                ></div>
                                <span>Vàng</span>
                            </div>
                            <div class="col section2_selectBox2">
                                <div
                                    class="selectColor"
                                    style="
                                        background-image: url('./assets/imgs/iphone13promax/ip13-pro-black.jpg');
                                    "
                                ></div>
                                <span>Đen</span>
                            </div>
                            <div class="col section2_selectBox2">
                                <div
                                    class="selectColor"
                                    style="
                                        background-image: url('./assets/imgs/iphone13promax/apple-iphone-13-pro-max-01.jpg');
                                    "
                                ></div>
                                <span>Xanh dương</span>
                            </div>
                            <div class="col section2_selectBox2">
                                <div
                                    class="selectColor"
                                    style="
                                        background-image: url('./assets/imgs/iphone13promax/iphone-13-pro-max-green.jpg');
                                    "
                                ></div>
                                <span>Xanh lá</span>
                            </div>
                        </div>
                        <div class="buyBtn">
                            <a href="">
                                <h3>MUA NGAY</h3>
                                <p>(Giao tận nơi hoặc lấy tại cửa hàng</p>
                            </a>
                        </div>
                    </div>
                    <!-- section3 -->
                    <div class="col c-4 section3">
                        <h4>Thông số kỹ thuật</h4>
                        <div class="row section3__List">
                            <div class="col c-3">
                                <p>Kích thước màn hình</p>
                            </div>
                            <div class="col c-7">
                                <p>@device.display_size inch</p>
                            </div>
                        </div>
                        <div class="row section3__List">
                            <div class="col c-3">
                                <p>Camera sau</p>
                            </div>
                            <div class="col c-7">
                                <p>@device.camera</p>
                            </div>
                        </div>
                        <div class="row section3__List">
                            <div class="col c-3">
                                <p>Chất lượng video</p>
                            </div>
                            <div class="col c-7">
                                <p>@device.video</p>
                            </div>
                        </div>
                        <div class="row section3__List">
                            <div class="col c-3">
                                <p>Dung lượng RAM</p>
                            </div>
                            <div class="col c-7">
                                <p>@device.ram</p>
                            </div>
                        </div>
                        <div class="row section3__List">
                            <div class="col c-3">
                                <p>Chipset</p>
                            </div>
                            <div class="col c-7">
                                <p>@device.chipset</p>
                            </div>
                        </div>
                        <div class="row section3__List">
                            <div class="col c-3">
                                <p>Dung lượng pin</p>
                            </div>
                            <div class="col c-7">
                                <p>@device.battery</p>
                            </div>
                        </div>
                        <div class="row section3__List">
                            <div class="col c-3">
                                <p>Loại pin</p>
                            </div>
                            <div class="col c-7">
                                <p>@device.batteryType</p>
                            </div>
                        </div>
                        <div class="row section3__List">
                            <div class="col c-3">
                                <p>Trọng lượng</p>
                            </div>
                            <div class="col c-7">
                                <p>@device.body</p>
                            </div>
                        </div>
                        <div class="row section3__List">
                            <div class="col c-3">
                                <p>Hệ điều hành</p>
                            </div>
                            <div class="col c-7">
                                <p>@device.os_type</p>
                            </div>
                        </div>
                        <div class="row section3__List">
                            <div class="col c-3">
                                <p>Bộ nhớ trong</p>
                            </div>
                            <div class="col c-7">
                                <p>@device.storage</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--  -->
        }

@code {
    [Parameter]
    public string device_key { get; set; }

    [Parameter]
    public EventCallback<string> OnStorageSelected { get; set; }

    List<Smartphone> smartphone = new List<Smartphone>();

    

    protected override async Task OnInitializedAsync()
    {
        GetSmartphone();
    }

    private void GetSmartphone()
    {
        smartphone = ProductIService.GetSmartphonesFilter(device_key);
    }

   
    
}
